/* starting mobile style  */

/* this is header section   */
body{
    padding-left: 16px;
    padding-right: 16px;
    width: 375px;
    background-color: rgb(223, 223, 238);
    font-family: 'Plus Jakarta Sans';
}
.header1{
    display: flex;
    justify-content: space-between;
    margin-top: 16px ;
    margin-bottom: 38px;

}
.skill {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    font-weight: 800;
    color: #13183F; 
}
.button1{
    width: 140px;
    height: 48px;
    border-radius: 28px;
    background-color: #13183F;
    color: white;
    border: none;

}
 /* this is head-text   */
 .head-text{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 16px;

 }
 .text1{
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 26px;
 }
.paragrap {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #83869A;
}
.button2{
    width: 167px;
    height: 56px;
    border-radius: 31px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border: none;
}
/* image section */
.image{
    width: 327px;
}

/* name of curses */
.courses{
    width: 343px;
    height: 120px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    padding-top: 24px;
    margin-bottom: 40px;
}
.text2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin: 0 29px 32px 28px;
    color: white;
}
/* animation */
.animation{
    width: 343px;
    background-color: white;
    border-radius: 10px;
    padding: 56px 29px 32px 28px;
    
}
.animation-image{
    margin-bottom: -8.5%;
    margin-left: 24px;
}
.animation-head {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin-bottom: 16px;
}
.animation-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-bottom: 24px;
}
h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
}

